@import './styles/theme.less';

:root {
  --primary-color: @primary-color;
  --secondary-color: @secondary-color;
  --card-radius: @card-radius;
  --card-shadow: @card-shadow;
  --font-family: @font-family;
  --bg-gradient: @bg-gradient;
  --text-title: @text-title;
  --text-sub: @text-sub;
  --border-color: @border-color;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
